<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Logga in</h2>
<form th:action="@{/login}" method="post">

    <p th:if="${error}" th:text="${error}" style="color:red;"></p>

    <label for="username">Användarnamn:</label>
    <input type="text" id="username" name="username" required><br><br>

    <label for="password">Lösenord:</label>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">Logga in</button>
</form>

<a href="/register">Registrera</a>

</body>
</html>