<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Order</title>
</head>
<body>

    <header class="customer-header">
        <h1 class="custom-h1" th:text="${pageTitle}"></h1>

        <form class="logout-button" th:action="@{/logout}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="submit" value="Logga ut"/>
        </form>
</header>
    <div class="content-body">

<p class="order-confirm" th:text="${message}"></p>

    </div>
</body>
</html>

