<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

</head>
<body>
<header class="customer-header">
<h1 class ="custom-h1" th:text="${pageTitle}"></h1>
</header>

<form th:action="@{/register}" th:object="${user}" method="post">


    <p th:if="${error}" th:text="${error}" style="color:red;"></p>

    <label for="username">Användarnamn:</label>
    <input type="text" name="username" id="username" required><br><br>

    <label for="password">Lösenord:</label>
    <input type="password" name="password" id="password" required><br><br>

    <label for="role">Typ av användare</label>
    <select name="role" id="role">
        <option value="user">Kund</option>
        <option value="admin">Admin</option>
    </select>
    <br>

    <button type="submit">Registrera</button>
</form>
</body>
</html>